<script> 
$(function() {
    $( "#datepicker1" ).datepicker({
      showOn: "button",
      buttonImage: "<%= asset_path 'calendar.gif' %>",
      buttonImageOnly: true,
      dateFormat: 'yy-mm-dd'
    }); 
      $( "#datepicker2" ).datepicker({
        showOn: "button",
        buttonImage: "<%= asset_path 'calendar.gif' %>",
        buttonImageOnly: true,
        dateFormat: 'yy-mm-dd'
      });
  });

</script>

<h4>  
<% if @user %>
Patient: <%= @user.first_name %> <%= @user.middle_name %> <%= @user.last_name %> 
<% end %>
</h4>   
<div class="row"> 
	<form id="chart_form">
	 <div class="large-4 columns small-12"> 
		<label>Start Date</label>
    <input type="text" name="start_date" class="required" value="<%=params[:start_date]%>" id="datepicker1" style="width:180px;display: inline;margin-right:10px;"> 
   </div>
   <div class="large-4 columns small-12">
	  <label>End Date</label>   
    <input type="text" name="end_date" class="required" value="<%=params[:end_date]%>" id="datepicker2" style="width:180px;display: inline;margin-right:10px;"> 
   </div> 
   <input type="hidden" name="user" value="<%=params[:user]%>"> 
   <div class="large-4 columns small-12">
	  <label>&nbsp;</label>   
    <button type="submit">Submit</button>
   </div>
  </form> 
</div>  
<% if @mood_data && @mood_data.size > 0 %>
<%= render :partial => '/charts/irritability' %>    
<%= render :partial => '/charts/mood' %>
<%= render :partial => '/charts/anxiety' %>  
<%= render :partial => '/charts/sleep' %>   
<div class="row">
<div class="large-12 columns small-12" id="container1" style="padding-bottom:50px;" data-date='<%=@mood_data.map{|vv| vv.entry_at.strftime("%d %b") }.join(",")%>' data-sleep='<%=@mood_data.map{|vv| vv.sleep }.join(",")%>' >
</div> 
<div class="large-12 columns small-12" id="container11">
		<table style="width:100%; background: #999999 !important;">
			   <tr> 
				     <td> 
					      Total Day Count
					   </td> 
					   <td> 
					      Mood depression Count
					   </td>
					  <td> 
					      Moderate depression count
					   </td>
					   <td> 
					      Severe depression count 
					   </td> 
					   <td> 
 					      Normal
 					   </td> 
 					   <td> 
 					      Mood Elation Count
 					   </td>
 					  <td> 
 					      Moderate Elation count
 					   </td>
 					   <td> 
 					      Severe Elation count 
 					   </td>
					</tr> 
				 <tr>  
						 <td> 
					      <%= @daycount %>
					   </td> 
					   <td> 
					     <%= @mood_data.where(:mood => -3).count -%>
					   </td>
					  <td> 
					     <%= @mood_data.where(:mood => -2).count %> 
					   </td>
					   <td> 
					      <%= @mood_data.where(:mood => -1).count  %>  
					   </td> 
					   <td> 
 					      <%= @mood_data.where(:mood => 0).count  %>  
 					   </td> 
 					   <td> 
 					     <%= @mood_data.where(:mood => 1).count -%>
 					   </td>
 					  <td> 
 					     <%= @mood_data.where(:mood => 2).count %> 
 					   </td>
 					   <td> 
 					      <%= @mood_data.where(:mood => 3).count  %>  
 					   </td>
				 </tr>
		</table>
  
</div>
<div class="large-12 columns small-12" id="container2" style="padding-bottom:50px;" data-date='<%=@mood_data.map{|vv| vv.entry_at.strftime("%d %b") }.join(",")%>' data-sleep='<%=@mood_data.map{|vv| vv.sleep }.join(",")%>' >
</div>  
<div class="large-12 columns small-12" id="container22"> 
	<table style="width:100%; background: #999999 !important;">
		   <tr> 
			     <td> 
				      Total Day Count
				   </td> 
				   <td> 
				      Mood Count
				   </td>
				  <td> 
				      Moderate count
				   </td>
				   <td> 
				      Severe count 
				   </td>
				</tr> 
			 <tr>  
					 <td> 
				      <%= @daycount %> 
				   </td> 
				   <td> 
				     <%= @mood_data.where(:irritability => 1).count -%>
				   </td>
				  <td> 
				     <%= @mood_data.where(:irritability => 2).count %> 
				   </td>
				   <td> 
				      <%= @mood_data.where(:irritability => 3).count  %>  
				   </td>
			 </tr>
	</table>
</div>
<div class="large-12 columns small-12" id="container3" style="padding-bottom:50px;" data-date='<%=@mood_data.map{|vv| vv.entry_at.strftime("%d %b") }.join(",")%>' data-sleep='<%=@mood_data.map{|vv| vv.sleep }.join(",")%>' >
</div> 
<div class="large-12 columns small-12" id="container33"> 
	
	<table style="width:100%; background: #999999 !important;">
		   <tr> 
			     <td> 
				      Total Day Count
				   </td> 
				   <td> 
				      Mood Count
				   </td>
				  <td> 
				      Moderate count
				   </td>
				   <td> 
				      Severe count 
				   </td>
				</tr> 
			 <tr>  
					 <td> 
				      <%= @daycount %> 
				   </td> 
				   <td> 
				     <%= @mood_data.where(:anxiety => 1).count -%>
				   </td>
				  <td> 
				     <%= @mood_data.where(:anxiety => 2).count %> 
				   </td>
				   <td> 
				      <%= @mood_data.where(:anxiety => 3).count  %>  
				   </td>
			 </tr>
	</table>
	
</div>
<div class="large-12 columns small-12" id="container" style="padding-bottom:50px;" data-date='<%=@mood_data.map{|vv| vv.entry_at.strftime("%d %b") }.join(",")%>' data-sleep='<%=@mood_data.map{|vv| vv.sleep }.join(",")%>' >
</div>

</div> 
<% end %>
<!--
<div class="report-class-large">
	<table style="width:100%">
		   <tr> 
			     <td> 
				      MOOD
				   </td>
				   <td style="width:20px;">  
			        	<div style="height:20px;width:20px;background:#FF0000;float:lefft"> 
						       &nbsp;
						    </div>  
						</td>
						<td>
						
						       Mild
						</td>
				   	 <td style="width:20px;">  
				        	<div style="height:20px;width:20px;background:#33FF00;float:lefft"> 
							       &nbsp;
							    </div>  
							</td>
							<td> 
					       Moderate
					   
					 </td>
					 <td style="width:20px;">  
			        	<div style="height:20px;width:20px;background:#3333FF;float:lefft"> 
						       &nbsp;
						    </div>  
						</td>
						<td>
					       Severe
				   </td>
					 
			 </tr>
	</table>	
</div>  


<div class="report-class-small">  
	
	<table style="width:100%">
		   <tr> 
			     <td> 
				      MOOD
				   </td> 
				</tr> 
				<tr>
				   <td style="width:20px;">  
			        	<div style="height:20px;width:20px;background:#FF0000;float:lefft"> 
						       &nbsp;
						    </div>  
						</td> 
						<td>
						
						       ELEVATED
						</td>
				</tr>	
				<tr>	
				   	 <td style="width:20px;">  
				        	<div style="height:20px;width:20px;background:#33FF00;float:lefft"> 
							       &nbsp;
							    </div>  
							</td>
							<td> 
					       NORMAL
					    </td> 
				 </tr> 
				 <tr>
					 <td style="width:20px;">  
			        	<div style="height:20px;width:20px;background:#3333FF;float:lefft"> 
						       &nbsp;
						    </div>  
						</td>
						<td>
					       DEPRESSED
				   </td>
			 </tr>
	</table>
	
	
</div>		
-->   

<script> 
 function show_records(){  

	$('#records').show();
	$('#show_records').hide(); 
	$('#hide_records').show();   
	
} 
function hide_records(){  
  $('#records').hide();
	$('#hide_records').hide();  
	$('#show_records').show();

}
</script>
<div class="row">
	<div class="large-2 columns small-4" style="float:right;">  
      <a href="javascript:void();" class="button success tiny" id="show_records" onclick="show_records();">Show Records</a> 
      <a href="javascript:void();" class="button success tiny" id="hide_records" style="display:none;" onclick="hide_records();">Hide Records</a> 
   </div>
</div>	
<div class="row"  style="display:none !important;" id="records">
<div class="report-class-large">
<table style="width:100%">
  <thead>
    <tr>
      <th>Date</th>
      <th>Mood</th>
      <th>Sleep</th>
      <th>Irritability</th>
      <th>Anxiety</th>
      <th>Comments</th>
    </tr>
  </thead>
  <% if @mood_data && @mood_data.size > 0 %>
  <tbody>
    <% @mood_data.each do |mood_datum| %>
      <tr>
        <td><%= mood_datum.entry_at.strftime("%d %b %Y") %></td>
        <td><%= show_mood(mood_datum.mood) %></td>
        <td><%= mood_datum.sleep %></td>
        <td><%= show_irritability(mood_datum.irritability) %></td>
        <td><%= show_anxiety(mood_datum.anxiety) %></td>
        <td><%= mood_datum.comments %></td>   
        <!--
        <td><%#= link_to 'Show', mood_datum %></td>
        <td><%#= link_to 'Edit', edit_mood_datum_path(mood_datum) %></td>
        <td><%#= link_to 'Destroy', mood_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>  
   <% else %> 
    <tr> 
	   <td colspan="5">
		   Not Avaliable
		 </td>
	  </tr>
   <% end %>
</table>
</div> 
<div class="report-class-small">
	 <table style="width:100%">
	 
	  <% if @mood_data && @mood_data.size > 0 %>
	  <tbody>
	    <% @mood_data.each do |mood_datum| %>
	      <tr> 
		      <td> Date </td>
	        <td><%= mood_datum.entry_at.strftime("%d %b %Y") %></td>
	      </tr>
	      <tr>  
		          <td>Mood</td>
	        <td><%= show_mood(mood_datum.mood) %></td> 
	       </tr>
		     <tr> 
			        <td>Sleep</td> 
	        <td><%= mood_datum.sleep %></td> 
	       </tr>
		      <tr> 
			     <td>Irritability</td> 
	        <td><%= show_irritability(mood_datum.irritability) %></td> 
	       </tr>
		      <tr> 
			     <td>Anxiety</td> 
	        <td><%= show_anxiety(mood_datum.anxiety) %></td>  
	       </tr>
		      <tr> 
			     <td>Comments</td>  
	        <td><%= mood_datum.comments %></td>  
	        </tr> 
	        <!--
	        <td><%#= link_to 'Show', mood_datum %></td>
	        <td><%#= link_to 'Edit', edit_mood_datum_path(mood_datum) %></td>
	        <td><%#= link_to 'Destroy', mood_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        -->
	      </tr>
	    <% end %>
	  </tbody>  
	   <% else %> 
	    <tr> 
		   <td colspan="5">
			   Not Avaliable
			 </td>
		  </tr>
	   <% end %>
	</table>
</div> 
</div> 
<br>   




<%#= link_to 'New Mood datum', new_mood_datum_path %>
