<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="<%= root_url %>">Moodatics</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
  

    <!-- Right Nav Section -->
    <ul class="right"> 
	    <% if current_user %>  
	      <% if current_user.role_id == 1 %>
        <li class="divider"></li>
        <li class="has-form">
					  <%= link_to "Patients", patients_path(:doctor => current_user.id) %>  
				<li>
				<li class="divider"></li>
	      <li class="has-form">
						<%= link_to "Add Patient", new_patient_path(:doctor => current_user.id) %>  
				<li>  
				<% end %>	
				<% if current_user.role_id == 2 %> 
				   <li class="divider"></li> 
				     <li class="has-form">
					    <%= link_to "Data Analytics", mood_data_path(:user => current_user.id) %>   
					   </li>
			      <li class="has-form">
				    <%= link_to "Add Mood Data", new_mood_datum_path(:patient => current_user.id) %>   
				   </li>
				<% end %>  
				 <% if current_user.role_id == 3 %> 
					     <li class="divider"></li>  
					     <li class="has-form">
       						<%= link_to "Add Doctor", new_doctor_path %>  
       				 <li>
					     <li class="has-form">
						    <%= link_to "Doctor List", admin_path %>   
						   </li>
				<% end %>
        <li class="divider"></li>
	      <li class="has-form">
					  <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>  
				<li>
		 <% else %>  
		    <li class="divider"></li>
	      <li class="has-form">
					  <%= link_to "Sign Up", new_user_registration_path %> 
				</li>
				<li class="divider"></li>
		    <li class="has-form">	
					  <%= link_to "Log In", new_user_session_path %>  
				</li>	
	   <% end %>
      
    </ul>
  </section>
</nav>